.btn{
    color:white;
    background-color: transparent;
    border:1.5px solid #ff0066;
    padding:15px 20px;
    border-radius:0
}
.btn:hover{
    background-color:#ff0066 ;
    color:white;
    border:1.5px solid #ff0066
}
/******header starts here ***********/
#header1{
    background-color: transparent !important;
    position: fixed;
    /* margin:auto; */
    z-index: 1030;
    margin:auto !important
}
#header2{
    background-color: transparent !important;
    /* position: fixed; */
    /* margin:auto; */
    z-index: 1030;
    margin:auto !important
}
.navbar-toggler{
    border:1px solid #ff0066 !important;
}
.navbar-toggler-icon{
    background-color: #ff0066;
}
.nav-link{
    padding:1em 0.8em !important;
    color:white !important;
    display: inline-block;
}
.navbar-collapse{
    position: absolute;
    z-index:999;
    /* background-color: #ff0066; */
  
    width:92%
}
#logo{
    color:white
}
.nav-link::before{
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ff0066;
}
.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
.nav-link-ltr:hover::before {
    width: 3%;
  }
.log1{
    margin:auto !important
}
.bi-search{
    width:20px;
    height:20px;
    color:white
}
/******header starts here ***********/

/***********home section starts here *********/
#home-section{
    background-image: url('../images/adult-aesthetics-art-attractive-458497.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height:100vh; */
    padding:100px 0px;
    background-attachment: fixed;

}
#underline1{
    border-bottom:5px solid #ff0066 ;
    width:10%
}
#underline2a{
    border-bottom:2px solid #ff0066 ;
    width:20%
}
#underline2b{
    border-bottom:2px solid #ff0066 ;
    width:20%
}
#underline2c{
    border-bottom:2px solid #ff0066 ;
    width:20%
}
.home-section-col-block1{
    
    display:flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-bottom:50px
}
.bi-clipboard-data{
    margin:25px 0px;
    color:#ff0066
}
.bi-pie-chart-fill{
    margin:25px 0px;
    color:#ff0066
}
.bi-shuffle{
    margin:25px 0px;
    color:#ff0066
}
.card:hover .bi-clipboard-data{
    color:white
}
.card:hover .bi-pie-chart-fill{
    color:white
}
.card:hover .bi-shuffle{
    color:white
}
.card:hover #underline2a{
    border-bottom:2px solid white
}
.card:hover #underline2b{
    border-bottom:2px solid white
}
.card:hover #underline2c{
    border-bottom:2px solid white
}
.card{
    background-color: #0d0d0d;
    margin:15px 2px
}
.card:hover{
    background-color: #ff0066;
}
#card-title-1{
    color:white
}
#card-title-2{
    color:white
}
#card-title-3{
    color:white
}
#card-para-1{
    color:white
}
#card-para-2{
    color:white
}
#card-para-3{
    color:white
}

/***********home section ends here *********/


/**********services starts here*****/
#services{
    padding:100px 0px
}

#underline3{
    border-bottom:3px solid #ff0066 ;
    width:5%
}
.services-block1-text h4{
    color:#ff0066
}
.services-box1,.services-box2,.services-box3,
.services-box4,.services-box5,.services-box6,
.services-box7,.services-box8,.services-box9 {
    background-color: #d9d9d9;
    display:flex;
    justify-content: space-between;
    padding:30px 20px;
    margin:10px 10px 10px 0px;
    width:22.5em
}
.services-block2{
    display:flex;
    flex-wrap: wrap;
}
.services-block3{
    display:flex;
    flex-wrap: wrap;
}
.services-block4{
    display:flex;
    flex-wrap: wrap;
}

/**********services ends here*****/

/************vertical line starts here*********/

#vertical-line{
    padding:0px 0px 50px 0px;
}
.vl-block{
    display:flex;
    justify-content: center;
}
.vl {
        border-left: 2px solid #ff0066 ;
        height: 50px;
}



/************vertical line ends here*********/

/***************carousel title starts here***********/
#carousel-title{
    padding:50px 0px
}
#underline4{
    border-bottom:3px solid #ff0066 ;
    width:25%
}
.carousel-title-text{
    color:#ff0066
}
#carousel-title-button{
    color:black
}
#carousel-title-button:hover{
    color:white
}
.carousel-title{
    display:flex;
    justify-content: space-between;
    align-items:center
}
/***************carousel title ends here***********/
/*****************carousel slider starts here *************/
#carousel{
    padding:50px 0px
}
.owl-theme .owl-dots .owl-dot span{
    background: #ff0066;
}
.owl-theme .owl-dots .owl-dot.active span{
    background:#ffb3d1;
}

/*****************carousel slider ends here *************/
/****************about starts here*************/
#about{
    padding:50px 0px;
}

#underline5{
    border-bottom:3px solid #ff0066 ;
    width:25%
}
.about-title-text{
    color:#ff0066
}
#about-title-button{
    color:black
}
#about-title-button:hover{
    color:white
}
.about-title{
    display:flex;
    justify-content: space-between;
    align-items:center
}
#about-image1{
    width:100%;
    height:auto;
    max-width:850px
}
.about-image-block1{
    position:relative;
}
.about-image-block1-text1{
    position:absolute;
    bottom:3%;
    left:3%
}
.about-image-block1-text1 h4,.about-image-block1-text1 p{
    color:white
}
.about-text-block{
    display:flex;
    flex-direction:column;
    
}
#about-block1-image,#about-block2-image{
    width:100%;
    height:14.5em;
    max-width:400px
}
.about-block1,.about-block2{
    position:relative;
    margin:10px 5px
}
.about-block-text-container1,.about-block-text-container2{
    position:absolute;
    bottom:3%;
    left:3%
}
.about-block-text-container1 h4,.about-block-text-container1 p{
    color:white
}
.about-block-text-container2 h4,.about-block-text-container2 p{
    color:white
}
.about-para-block1,.about-para-block2,.about-para-block3{
    text-align: justify;
    max-width:15em
}
/****************about ends here*************/
/***********Clients starts here*************/
#clients{
    padding:50px 0px;
}
.client-image-container{
    position:relative
}
#client-image1{
    width:100%;
    height:auto;
    z-index:10;
    object-fit: contain;
}
.client-box{
    width:100px;
    height:100px;
    background-color: #ff0066;
    position:absolute;
    right:-0.5em;
    bottom:-0.5em;
    z-index:-10
}
#underline6{
    border-bottom:3px solid #ff0066 ;
    width:25%
}
.client-block1-text h4{
    color:#ff0066
}
/***********Clients ends here*************/
/***********Clients company starts here***********/
#client-companies{
    padding:50px 0px
}
.companies{
    display:flex;
    flex-wrap:wrap
}
.agency{
    width:5em
}
/***********Clients company ends here***********/
/**********LAtest News starts here*********/
#latest-news{
    padding:50px 0px;
}
.latest-news-container h4{
    color:#ff0066
}
.news{
    position:relative;
 
} 
#latest-news-carousel{
    padding:50px 0px
}
.latest-text-container h3{
    position:absolute;
    bottom:10%;
    left:40%;
    color:white
}
.latest-text-container h5{
    position:absolute;
    bottom:3%;
    left:10%;
    color:white;
    text-align: center;
}
/**********LAtest News ends here*********/
/************footer1*************/
.fa{
    /* width:80px;
    height:80px; */
    border:2px solid #ff0066;
    padding:15px;
    border-radius:50%;
    margin:5px;
    color:white;
    font-size:30px
}

.footer-section1-title h1{
    color:white;
    text-align: center;
}
.footer-section1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    padding:50px 0px
}
#footer1{
    background-color: #1f1f14;
}
#footer2{
    background-color: #0f0f0a;
}
#footer3{
    background-color:#000000;
}
.address{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.address h4,.address p{
    color:white
}
.trademark p{
    color:white;
}
.trademark-container {
display:inline-flex;
justify-content: flex-end;
}
.trademark-container p{
    color:white;
    text-decoration: none;
}
.track{
    display:flex;
    justify-content: flex-end;
}
/************footer1*************/
/************responsive design**********/
@media(max-width:375px){
   .nav-item{
       margin:5px;
       border:2px solid white;
       background-color:#ff0066 ;
   }
   .navbar-collapse{
    position: absolute;
    z-index:999;
    /* background-color: #ff0066; */
    top:100px;
    width:92%
    }
    .home-section-col-block1{
        height:auto;
       
    }
    .services-box1,.services-box2,.services-box3,
    .services-box4,.services-box5,.services-box6,
    .services-box7,.services-box8,.services-box9 {
       width:30em
    }
    #underline3,#undrline4,#underline5,#underline6{
         width:20%
    }
    .carousel-title,.about-title{
        display:flex;
      flex-direction: column;
        align-items:flex-start
    }
    .latest-text-container h3{
        position:absolute;
        bottom:18%;
        right:5%;
        left:35%;
        color:white
    }
    .footer-section1{
        display:flex;
       flex-direction: column; 
        align-items:center;
    }
    .fa{
        
        border:2px solid #ff0066;
        padding:5px !important;
        border-radius:50%;
        margin:5px
    }
   
    .trademark-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}
@media(min-width:376px) and (max-width:576px){
    .nav-item{
        margin:5px;
        border:2px solid white;
        background-color:#ff0066 ;
    }
    .navbar-collapse{
        position: absolute;
        z-index:999;
        /* background-color: #ff0066; */
        top:100px;
        width:92%
    }
    .home-section-col-block1{
        height:auto;
       
    }
    .services-box1,.services-box2,.services-box3,
    .services-box4,.services-box5,.services-box6,
    .services-box7,.services-box8,.services-box9 {
        width:30em
     }
     #underline3,#undrline4,#underline5,#underline6{
        width:20%
    }
    .carousel-title{
        display:flex;
      flex-direction: column;
        align-items:flex-start
    }
    .latest-text-container h3{
        position:absolute;
        bottom:18%;
        left:35%;
        right:5%;
        color:white
    }
    .footer-section1{
        display:flex;
       flex-direction: column; 
        align-items: center;
    }
    .trademark-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}
@media(min-width:577px) and (max-width:760px){
    .nav-item{
        margin:5px;
        border:2px solid white;
        background-color:#ff0066 ;
    }
    .navbar-collapse{
        position: absolute;
        z-index:999;
        /* background-color: #ff0066; */
        top:100px;
        width:92%
    }
    .services-box1,.services-box2,.services-box3,
    .services-box4,.services-box5,.services-box6,
    .services-box7,.services-box8,.services-box9{
        width:30em
     }
     #underline3,#undrline4,#underline5,#underline6{
        width:10%
    }
    .latest-text-container h3{
        position:absolute;
        bottom:18%;
        left:40%;
        color:white
    }
    .footer-section1{
        display:flex;
       flex-direction: column; 
        align-items: center;
    }
}
@media(min-width:761px) and (max-width:992px){
    .nav-item{
        margin:5px;
        border:2px solid white;
        background-color:#ff0066 ;
    }
    .navbar-collapse{
        position: absolute;
        z-index:999;
        /* background-color: #ff0066; */
        top:100px;
        width:92%
    }
    .card-c{
        width:20.5em
    }
    .services-box1,.services-box2,.services-box3,
    .services-box4,.services-box5,.services-box6,
    .services-box7,.services-box8,.services-box9{
        width:20em
     }
     #underline3,#undrline4,#underline5,#underline6{
        width:10%
    }
    .about-text-block{
        display:flex;
        flex-direction:row;
        
    }
    .latest-text-container h3{
        position:absolute;
        bottom:18%;
        left:40%;
        color:white
    }
    .footer-section1{
        display:flex;
       flex-direction: column; 
        align-items: center;
    }
}
@media(min-width:992px) and (max-width:1100px){
    .services-box1,.services-box2,.services-box3,
    .services-box4,.services-box5,.services-box6,
    .services-box7,.services-box8,.services-box9{
        width:18em
     }
     #underline3,#undrline4,#underline5,#underline6{
        width:10%
    }
    #about-block1-image,#about-block2-image{
        width:100%;
        height:12em;
        max-width:400px
    }
    .latest-text-container h3{
        position:absolute;
        bottom:18%;
        left:35%;
        color:white
    }
}

/************responsive design ends here**********/